<!-- views/all-blogs.hbs -->

<style>
  .posts {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .post {
    width: 500px;
    margin: 40px 15px 20px 15px;
  }

  .postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postImg {
    width: 460px;
    height: 320px;
    object-fit: cover;
    border-radius: 7px;
  }

  .postTitle {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
  }

  .postDesc {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
</style>

<div class="posts">
  {{#each homePageBlogs}}
    <div class="post">
      {{#if imagePath}}
        <img class="postImg" src="{{imagePath}}" alt="{{title}}">
      {{/if}}
      {{#if title}}
        <h3 class="postTitle">{{title}}</h3>
      {{/if}}
      {{#if content}}
        <p class="postDesc">{{content}}</p>
      {{/if}}
      {{#if author}}
        <p class="postAuthor">Author: {{author.username}}</p>
      {{/if}}
    </div>
  {{/each}}
</div>
